<div class="list">
	<ul class="left">
		<li>
			<span class="category">Control Panel</span>
			<ul>
				<li><a href="#">DashBoard</a></li>
				<li><a href="#">Create New Post</a></li>
				<li><a href="#">Create New Category</a></li>
				<li><a href="#">Messages</a></li>
				<li><a href="#">Config of Website</a></li>
			</ul>
		</li>
	</ul>
</div>