<footer>
	<div class="container">
		<p>&copy All right belongs to James 2018-2019</p>
	</div>
</footer>

<div class="extra">
	<div class="notice">
		<span class="fa fa-envelope-open fw notice_button" title="通知公告"></span>
		<div class="notice_m">
			<h3>通知公告<span class="fa fa-close fw notice_close"></span></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga atque, fugit. Eius quam dicta nam facere, unde maxime explicabo vero sed tempore aliquid culpa nihil ad tenetur ea, tempora autem.</p>
		</div>
	</div>
	<div class="top">
		<span class="fa fa-chevron-up fw"></span>
	</div>
</div>