<footer>
	<div class="container">
		<p>&copy All right belongs to James 2018-2019</p>
	</div>
</footer>

<div class="extra">
	<div class="notice">
		<span class="fa fa-envelope-open fw notice_button" title="通知公告"></span>
		<div class="notice_m">
			<h3>通知公告<span class="fa fa-close fw notice_close"></span></h3>
			<p>本站仅用于学习交流,严禁各种灌水、广告行为,违规者删号处置,并将拒绝相同Ip浏览及登入.<br>如有任何疑问,欢迎留言或来信,更多学习交流请移步QQ学习群: <span style="color: #26abe2;">684746447</span></p>
		</div>
	</div>
	<div class="top">
		<span class="fa fa-chevron-up fw"></span>
	</div>
</div>